.card {
	&__container {
		display: grid;
		grid-template-rows: 20% 80%;

		position: relative;
		border-radius: 20px;

		&.work {
			background-image: linear-gradient(
				to bottom,
				$Work-color 60%,
				$Very-dark-blue
			);
		}
		&.play {
			background-image: linear-gradient(
				to bottom,
				$Play-color 60%,
				$Very-dark-blue
			);
		}
		&.social {
			background-image: linear-gradient(
				to bottom,
				$Social-color 60%,
				$Very-dark-blue
			);
		}
		&.exercise {
			background-image: linear-gradient(
				to bottom,
				$Exercise-color 60%,
				$Very-dark-blue
			);
		}
		&.study {
			background-image: linear-gradient(
				to bottom,
				$Study-color 60%,
				$Very-dark-blue
			);
		}
		&.self.care {
			background-image: linear-gradient(
				to bottom,
				$Self-care-color 80%,
				$Very-dark-blue
			);
		}

		@media only screen and (max-width: 37.5em) {
			grid-template-rows: 30% 70%;
		}
	}
	&__header,
	&__content {
		overflow: hidden;
		position: relative;
	}
	&__header {
		z-index: 1;
		&--icon {
			position: absolute;
			right: 10%;
			top: 0;
			transform: translate(-50%, -10%);
			width: 30%;
		}
	}

	&__content {
		z-index: 2;
		background-color: $Dark-blue;
		padding: 2rem;
		border-radius: 20px;

		display: flex;
		flex-direction: column;
		align-items: flex-start;

		color: #fff;
		text-transform: capitalize;
		font-size: 1.5rem;
		transition: all 0.5s ease-in-out;

		& > * {
			margin-bottom: 1.5rem;
		}

		&__title {
			display: flex;
			align-items: center;
			width: 100%;

			& > *:first-child {
				margin-right: auto;
				font-family: Rubik-medium;
				font-size: 18px;
			}
		}
		&:hover {
			cursor: pointer;
			// mix-blend-mode: luminosity;
			background-color: hsl(237, 40%, 34%);
		}

		&__details {
			& > h1 {
				font: {
					family: Rubik-light;
				}
			}
			& > * {
				margin-bottom: 1.5rem;
			}
			& > *:last-child {
				color: $Pale-Blue;
				font: {
					family: Rubik-regular;
				}
				@media only screen and (max-width: 37.5em) {
					text-align: right;
				}
			}
			@media only screen and (max-width: 25em) {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		&__title--icon {
			cursor: pointer;
			transition: all 0.5s ease-in-out;

			&:hover svg > path {
				fill: #fff !important;
			}
			&:hover .card__content {
				display: none;
				background-color: $Dark-blue !important;
			}
		}

		@media only screen and (max-width: 37.5em) {
			padding: 5rem 3rem;
		}
	}
}
