// FONTS
@font-face {
	font-family: Rubik-light;
	src: url(../public/Assets/Fonts/Rubik/static/Rubik-Light.ttf);
}
@font-face {
	font-family: Rubik-regular;
	src: url(../public/Assets/Fonts/Rubik/static/Rubik-Regular.ttf);
}
@font-face {
	font-family: Rubik-medium;
	src: url(../public/Assets/Fonts/Rubik/static/Rubik-Medium.ttf);
}
// WIDTHS
$Mobile: 375px;
$Desktop: 1440px;

// COLORS
$Blue: hsl(246, 80%, 60%);
$Light-red: hsl(15, 100%, 70%); //(work)
$Soft-blue: hsl(195, 74%, 62%); //(play)
$Light-red: hsl(348, 100%, 68%); //(study)
$Lime-green: hsl(145, 58%, 55%); //(exercise)
$Violet: hsl(264, 64%, 52%); // (social)
$Soft-orange: hsl(43, 84%, 65%); //(self care)

$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);

// Typography
$Font-size: 18px; //(card titles e.g. Work, Play)

// RESETS

* {
	box-sizing: inherit;

	&,
	&::after,
	&::before {
		margin: 0;
		padding: 0;
	}
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
	box-sizing: inherit;
}
