@import "./variables";

* {
	box-sizing: inherit;
	outline: none;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	@media only screen and (max-width: 37.5em) {
		font-size: 50%;
	}
}

body {
	box-sizing: inherit;

	// background-color: rgb(3, 0, 0);

	background-image: linear-gradient(
		to right,
		rgb(3, 0, 0) 10%,
		$Very-dark-blue 10%,
		$Very-dark-blue 90%,
		rgb(3, 0, 0) 90%,
		rgb(3, 0, 0)
	);
	width: 100%;
	@media only screen and (max-width: 87.5em) {
		background-image: linear-gradient(
			to right,
			rgb(3, 0, 0) 5%,
			$Very-dark-blue 5%,
			$Very-dark-blue 95%,
			rgb(3, 0, 0) 95%,
			rgb(3, 0, 0)
		);
	}
	@media only screen and (max-width: 22em) {
		background-color: $Very-dark-blue;
	}
	// position: relative;
}
// IMPORTS
@import "../src/App/App"; /*# sourceMappin
gURL=index.css.map */
